<!DOCTYPE html>
<html>

<head>
	<title>Đăng nhập</title>
</head>

<body align="center">
	<center>
		<table class="tbl_input" cellpadding="4" width="400px" style="border: 1px solid #bbb; background-color: #190;">
			<tr>
				<th colspan="2" align="left">Đăng Nhập</th>
			</tr>
			<tr align="left">
				<td class="lbl_left">Tài Khoản :</td>
				<td align="left"><input class="txBox" type="text" name="loginName" value="" size="22"></td>
			</tr>
			<tr>
				<td class="lbl_left">Mật Khẩu :</td>
				<td align="left"><input class="txBox" type="password" name="password" value="" size="22"></td>
			</tr>
			<tr>
				<td></td>
				<td align="left"><input class="btn btn_wider" type="submit" value="Đăng Nhập" /></td>
			</tr>
		</table>
	</center>
</body>

</html>