USE [master]
GO
/****** Object:  Database [QLDT]    Script Date: 12/2/2020 11:15:23 PM ******/
CREATE DATABASE [QLDT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLDT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\QLDT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLDT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\QLDT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLDT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLDT]
GO
/****** Object:  Table [dbo].[CanBo]    Script Date: 12/2/2020 11:15:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CanBo](
	[MaCanBo] [int] NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[NamSinh] [date] NULL,
	[GioiTinh] [nvarchar](3) NULL,
	[ChucDanhKH] [nvarchar](20) NULL,
	[ChucVu] [nvarchar](20) NULL,
	[DienThoai] [int] NULL,
	[Email] [varchar](20) NULL,
	[ToChucCongTac] [nvarchar](30) NULL,
	[DiaChi] [nvarchar](20) NULL,
	[MaNhiemVu] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCanBo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietTienDo]    Script Date: 12/2/2020 11:15:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietTienDo](
	[MaCTTD] [int] NOT NULL,
	[NoiDung] [nvarchar](100) NULL,
	[KetQua] [nvarchar](50) NULL,
	[ThoiGian] [date] NULL,
	[CaNhanThucHien] [nvarchar](50) NULL,
	[KinhPhiDK] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTTD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuyenGia]    Script Date: 12/2/2020 11:15:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenGia](
	[MaChuyenGia] [int] NOT NULL,
	[HoTenHocVi] [nvarchar](100) NULL,
	[ToChuc] [nvarchar](100) NULL,
	[LinhVucChuyenMon] [nvarchar](50) NULL,
	[NoiDung] [ntext] NULL,
	[ThoiGian] [date] NULL,
	[MaloaiCG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChuyenGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoatDongPVNC]    Script Date: 12/2/2020 11:15:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoatDongPVNC](
	[MaHoatDongPVNC] [int] NOT NULL,
	[TenHoatDong] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoatDongPVNC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoanChi]    Script Date: 12/2/2020 11:15:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoanChi](
	[MaKhoanChi] [int] NOT NULL,
	[TenPTKC] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhoanChi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiChuyenGia]    Script Date: 12/2/2020 11:15:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiChuyenGia](
	[MaLoaiCG] [int] NOT NULL,
	[TenLoaiCG] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiCG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiDeTai]    Script Date: 12/2/2020 11:15:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiDeTai](
	[MaLoaiDeTai] [int] NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiDeTai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NghienCuu]    Script Date: 12/2/2020 11:15:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NghienCuu](
	[MaNghienCuu] [int] NOT NULL,
	[TenPPNC] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNghienCuu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhiemVu]    Script Date: 12/2/2020 11:15:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhiemVu](
	[MaNhiemVu] [int] NOT NULL,
	[TenNhiemVu] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhiemVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 12/2/2020 11:15:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSanPham] [int] NOT NULL,
	[TenSP] [nvarchar](20) NULL,
	[YeuCauKH] [nvarchar](20) NULL,
	[GhiChu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TienDo]    Script Date: 12/2/2020 11:15:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TienDo](
	[MaTienDo] [int] NOT NULL,
	[TenTienDo] [nvarchar](50) NULL,
	[MaCTTD] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTienDo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TTDeTai]    Script Date: 12/2/2020 11:15:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TTDeTai](
	[MaDeTai] [int] NOT NULL,
	[TenDeTai] [nvarchar](50) NULL,
	[MaLoaiDeTai] [int] NULL,
	[ThoiGianTT] [date] NULL,
	[CapQuanLy] [nvarchar](50) NULL,
	[KinhPhi] [int] NULL,
	[MaCanBo] [int] NULL,
	[MaKhoanChi] [int] NULL,
	[MucTieuDeTai] [nvarchar](max) NULL,
	[NoiDung] [ntext] NULL,
	[TinhTrang] [int] NULL,
	[TaiLieu] [ntext] NULL,
	[MaHoatDongPVNC] [int] NULL,
	[MaNghienCuu] [int] NULL,
	[MaTienDo] [int] NULL,
	[MaChuyenGia] [int] NULL,
	[MaSP] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDeTai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CanBo]  WITH CHECK ADD FOREIGN KEY([MaNhiemVu])
REFERENCES [dbo].[NhiemVu] ([MaNhiemVu])
GO
ALTER TABLE [dbo].[ChuyenGia]  WITH CHECK ADD FOREIGN KEY([MaloaiCG])
REFERENCES [dbo].[LoaiChuyenGia] ([MaLoaiCG])
GO
ALTER TABLE [dbo].[TienDo]  WITH CHECK ADD FOREIGN KEY([MaCTTD])
REFERENCES [dbo].[ChiTietTienDo] ([MaCTTD])
GO
ALTER TABLE [dbo].[TTDeTai]  WITH CHECK ADD FOREIGN KEY([MaCanBo])
REFERENCES [dbo].[CanBo] ([MaCanBo])
GO
ALTER TABLE [dbo].[TTDeTai]  WITH CHECK ADD FOREIGN KEY([MaChuyenGia])
REFERENCES [dbo].[ChuyenGia] ([MaChuyenGia])
GO
ALTER TABLE [dbo].[TTDeTai]  WITH CHECK ADD FOREIGN KEY([MaHoatDongPVNC])
REFERENCES [dbo].[HoatDongPVNC] ([MaHoatDongPVNC])
GO
ALTER TABLE [dbo].[TTDeTai]  WITH CHECK ADD FOREIGN KEY([MaKhoanChi])
REFERENCES [dbo].[LoaiDeTai] ([MaLoaiDeTai])
GO
ALTER TABLE [dbo].[TTDeTai]  WITH CHECK ADD FOREIGN KEY([MaLoaiDeTai])
REFERENCES [dbo].[KhoanChi] ([MaKhoanChi])
GO
ALTER TABLE [dbo].[TTDeTai]  WITH CHECK ADD FOREIGN KEY([MaNghienCuu])
REFERENCES [dbo].[NghienCuu] ([MaNghienCuu])
GO
ALTER TABLE [dbo].[TTDeTai]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[TTDeTai]  WITH CHECK ADD FOREIGN KEY([MaTienDo])
REFERENCES [dbo].[TienDo] ([MaTienDo])
GO
USE [master]
GO
alter table TTDeTai add image varchar(5);
create table tbl_user(
userName varchar(10),
pass varchar(50)
);