

button {
    padding: 0px;
    margin: 0px;
    border: none;
}

/*Định dạng lại button chung*/
.m-btn {
    background-color: #019160;
    align-items: center;
    font-size: 13px;
    border-radius: 4px;
    height: 40px;
    color: #ffffff;
    border: 1px solid #bbbbbb;
    outline: none;
}

    .m-btn:hover {
        cursor: pointer;
        background-color: #2FBE8E;
    }

/*button chỉ chứa text*/
.m-btn-content {
    padding: 0px 24px;
    min-width: 100px;
}

    .m-btn-content:hover {
        background-color: #E9EBEE;
    }

.confirm-delete:hover {
    background-color: #ff0000;
}

.btn-cancel:hover {
    background-color: #bbb !important;
}

/*button chứa icon và text*/
.m-btn-icon {
    padding: 0px 16px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 16px 12px;
    padding-left: 40px;
    min-width: 100px;
}

/*button chỉ chứa icon*/
.btn-single-icon {
    width: 40px;
    background-color: #ffffff;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
}

    .btn-single-icon:hover {
        background-color: #E9EBEE;
    }

/* Đóng thông báo*/
.data-invalid .btn-cancel {
    background-color: #019160 !important;
    margin: 0px !important;
}

    .data-invalid .btn-cancel:hover {
        cursor: pointer;
        background-color: #2FBE8E !important;
    }

/* Nút xoá*/
.btn-delete {
    background-image: url('/content/icon/trash-2.png');
}

    .btn-delete:hover {
        background-color: #ff0000;
    }
