@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('/content/font/Google Sans/GoogleSans-Regular.otf') format('opentype');
}


/*css định nghĩa lại thư viện jqueryUI*/

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
    border-radius: 5px;
}

.d-none {
    display: none;
}
/**/

.ui-dialog {
    padding: 0;
    /*border-radius: 4px;*/
}

    .ui-dialog .ui-dialog-titlebar {
        padding: 24px 24px 0px 24px;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
        background-color: #FFFFFF;
        border: none;
    }

    .ui-dialog .ui-dialog-titlebar-close {
        margin: unset;
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
        height: 40px;
        border-radius: 0 4px;
        border: none;
        outline: none;
        cursor: pointer;
        opacity: .7;
        background-color: #FFFFFF;
        background-image: url('/content/icon/cancel.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px;
    }

        .ui-dialog .ui-dialog-titlebar-close:hover {
            background-color: #ccc;
        }

.ui-button .ui-icon,
.ui-button .ui-icon:hover {
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
}

.ui-dialog .ui-dialog-content {
    padding: 0;
}

.ui-widget.ui-widget-content {
    border: unset;
}

.ui-button:hover .ui-icon {
    background-image: none;
}

.ui-widget-overlay {
    background-color: #000;
    opacity: .5;
}

.dialog-body {
    padding: 24px;
}

user agent stylesheet div {
    display: block;
}

.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-family: GoogleSans-Regular;
    font-size: 13px;
}

/* Căn giữa text*/
.text-align-center {
    text-align: center;
}

/* căn phải text*/
.text-align-right {
    text-align: right;
}

/* Ẩn nội dung*/
.disable {
    display: none;
}

/* Text color đỏ*/
.text-red {
    color: #f00;
}

/* Tạo border màu đỏ*/
.border-red {
    border: 1px solid #f00;
}

/* Thông báo*/
.toast-messenger {
    position: fixed;
    bottom: 5px;
    left: 5px;
    height: 48px;
    width: 200px;
    border-radius: 4px;
    font-size: 13px;
    background-position: 152px center;
    background-size: 24px;
    background-repeat: no-repeat;
    box-shadow: #000 0px 3px 6px 0px;
    /*background-image: url('../../content/icon/cancel.png');*/
    /*opacity: 0.16;*/
    line-height: 48px;
}

.messenger-success {
    height: 48px;
    background-color: #BAFFE7;
}

.messenger-fail {
    height: 48px;
    background-color: #FFCECE;
}

.messenger-notify {
    height: 48px;
    background-color: #FFE7AF;
}

/* Loading icon*/
.loading-data {
    background-color: #bbb;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.loading-icon {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #019160;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: fixed;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* Popup cảnh báo*/
.popup-alert {
    display: none;
    background-color: #fff;
    border-radius: 4px;
    margin: auto;
}


/* Định dạng popup/dialog */
.dialog-body {
    padding: 24px;
}

    .dialog-body .customer-avatar {
        height: 200px;
        background-image: url('/content/icon/avatar.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

    .dialog-body input {
        margin-top: 4px;
        width: calc(100% - 18px);
    }

    .dialog-body select {
        margin-top: 4px;
        width: 100%;
    }

    .dialog-body .row {
        margin-top: 16px;
    }

.dialog-footer {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    float: right;
    background-color: #f4f4f4;
    border-radius: 0px 0px 4px 4px;
}

    .dialog-footer .btn-group {
        position: absolute;
        right: 24px;
    }

        .dialog-footer .btn-group .btn-cancel {
            background-color: #f4f4f4;
            margin-right: 16px;
            color: #000;
            border: none;
        }

        .dialog-footer .btn-group .btn-save {
            background-image: url('/content/icon/save.png');
        }

        .dialog-footer .btn-group .confirm-delete {
            background-color: #ff0000;
        }

.m-flex {
    display: flex;
}

.mb-0 {
    margin-bottom: 0px;
}

.pd-right-16px {
    padding-right: 16px;
}

/*Chia đều kích thước màn hình theo 12 cột*/
.col {
    display: block;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* Hiển thị các hàng*/
.row {
    width: 100%;
    display: flex;
}
